.layout {
  min-height: 100vh;
  background: var(--bg-gray);
}

.main {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  min-height: calc(100vh - var(--navbar-height));
  background: #f3f4f6;
}

@media (max-width: 1200px) {
  .main {
    padding: var(--spacing-xl);
  }
}

@media (max-width: 768px) {
  .main {
    padding: var(--spacing-lg);
  }
}